:root
  --bg-base: #0e1216
  --bg-content: #182329
  --text: #ddb
  --text-bold: #cd5
  --text-link: #4ad
  --text-active: #b5b
  --text-hover: #d97
  --text-date: #777

@media (prefers-color-scheme: dark)
  :root
    --bg-base: #0e1216
    --bg-content: #182329
    --text: #ddb
    --text-bold: #cd5
    --text-link: #4ad
    --text-active: #b5b
    --text-hover: #d97
    --text-date: #777

@media (prefers-color-scheme: no-preference)
  :root
    --bg-base: #0e1216
    --bg-content: #182329
    --text: #ddb
    --text-bold: #cc9
    --text-link: #4ad
    --text-active: #b5b
    --text-hover: #d97
    --text-date: #777

@media (prefers-color-scheme: light)
  :root
    --bg-base: #fff
    --bg-content: #facade
    --text: #46a
    --text-bold: #4df
    --text-link: #22b
    --text-active: #b5b
    --text-hover: #d97
    --text-date: #777


html, body
  background: var(--bg-base)
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%
  font-family: inherit, Arial, sans-serif

*
  color: var(--text)
  font-family: inherit, Arial, sans-serif

a
  color: var(--text-link)
  text-decoration: underline

.container
  background: var(--bg-content)
  display: flex
  flex-direction: column
  min-height: 100%
  padding-left: 2em
  padding-right: 2em
  max-width: 30em
  margin: auto

.description
  text-align: center
  font-style: italic
  font-weight: normal

#selection
  display: flex
  flex-direction: row
  justify-content: space-around

.selection
  color: var(--text-active)
  margin-top: 0px

.selection:hover
  color: var(--text-hover)

.input
  background: #3a1557
  color: #eee
  border-radius: 0.62em
  border: 0.22em outset #627
  padding: 0.29em
  font-family: monospace

.flag-grid
  display: grid
  grid-template-rows: repeat(6, 1fr)
  grid-template-columns: repeat(6, 1fr)
  height: 480px 
  max-width: 480px
  margin: auto
  margin-top: 0.5em
  margin-bottom: 0.5em
  overflow: hidden

.flag
  margin: auto
  width: 80px
  height: 80px 
  display: flex
  justify-content: center
  align-items: center

.title
  text-align: center
  color: var(--text-bold)

.content
  color: var(--text)

.post-display
  margin-top: 1em
  margin-bottom: 1em

.post
  display: flex
  flex-direction: row
  background: #fff1
  border-radius: 1em
  margin: 1em

.post-text
  display: flex
  flex-direction: column
  flex-shrink: 1
  margin-top: 1em
  margin-right: 1em
  width: 100%
  height: 100%
  overflow: hidden

.avatar
  display: flex
  justify-content: flex-end
  align-items: flex-start
  width: 67px
  height: 67px
  margin: 1em
  margin-bottom: 0
  flex-shrink: 0

.username
  color: var(--text-bold)
  margin-right: 1em

.image-post
  width: 100%

time
  color: var(--text-date)
  font-style: italic
  white-space: nowrap

footer
  margin-top: auto
  margin-bottom: 2em

@media (max-width: 560px)
  .container
    padding-left: 0px
    padding-right: 0px

  #generateNewFlag
    margin-left: 2em

  #generateNewPost
    margin-left: 2em

  footer
    margin-left: 2em

  .post
    margin-left: 0
    margin-right: 0


@media (max-width: 480px)
  .flag-grid
    grid-template-columns: repeat(5, 1fr)

@media (max-width: 400px)
  .flag-grid
    grid-template-columns: repeat(4, 1fr)

@media (max-width: 320px)
  .flag-grid
    grid-template-columns: repeat(3, 1fr)

@media (max-width: 240px)
  .flag-grid
    grid-template-columns: repeat(2, 1fr)

@media (max-width: 140px)
  .flag-grid
    grid-template-columns: repeat(1, 1fr)

.hidden
  display: none










