@media (prefers-color-scheme: dark)
  :root
    --base-bg: #131a21
    --text: #ddb
    --link-text: #4ad

@media (prefers-color-scheme: no-preference)
  :root
    --base-bg: #131a21
    --text: #ddb
    --link-text: #4ad

@media (prefers-color-scheme: light)
  :root
    --base-bg: #facade
    --text: #222
    --link-text: #4ad

html, body
  background: var(--base-bg)
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%

*
  color: var(--text)
  font-family: inherit, Arial, sans-serif

a
  color: var(--link-text)
  text-decoration: underline

.container
  display: flex
  flex-direction: column
  min-height: 100%

.title
  color: #bb6

.content
  color: #909

footer
  margin-top: auto









